<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{samples/layout/sampleLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script th:inline = "javascript">
  /*
    <![CDATA[*/
      let header = 'https://www.youtube.com/embed/';
      let ad = /*[[${list}]]*/ 'default';
      let chch = /*[[${url}]]*/ 'default';
      let url;
      let id;
      let i = 0;
    /*]]>
  */
</script>
<style>
  *{
    padding: 0px;
    margin: 0px;
  }
  #header{
    text-align: center; 
    background-color: #535353;
  }
  #headertext{
      margin: 7px;
      display: inline-block;
      color:  white;
			vertical-align: middle;
  }
  #table{
    margin: auto;
  }
  #footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: black;
	background: #f5f5f7;
	}
</style>
<body>
  <!-- header -->
  <table id = "header" border="0" cellpadding="0" cellspacing="0" style="height:60px; width:100%" align=center>
    <tr>
      <td align=right>
        <a href="/myPage">myPage</a>
      </td>
    </tr>
  </table>
  <!-- header-->

  <!---- main ----->
  <table id = "table" border="0" cellpadding="1" cellspacing="1" style="height:600px; width:1024px" align=center>
	  <tbody>
		  <tr>


        <!---- 필터 ---->
			  <td style="width:255px" align=center valign=top bgcolor="lightgray">&nbsp;
          <br>
          <p size=9><b>연락처</b></p>
          <br th:text="${contact}"></br>
          <br>
          <span th:if = "${ggim} == 0">
              <button type="button" class="btn btn-light" id="insert">찜 안되어 있음</button>
              <input type="hidden" id="likecheck" value="">
          </span>
          <span th:unless="${ggim} == 0">
              <button type="button" class="btn btn-light" id="delete"> 찜 되어 있음 </button>
              <input type="hidden" id="likecheck" value="">
          </span>
          <script>
            $('#insert').click(function(){
              console.log('ㅋㅋㅋ');
              console.log(chch);
              if (confirm("찜 목록에 추가하시겠습니까?")) {
                var html = "";
                uri = '/ggimInsert'
                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="ch_url" value="'+chch+'" />';
                html += '</form>';
                
                $("body").append(html);
                document.dataForm.submit();
              }
            });
            $('#delete').click(function(){
              console.log('ㅋㅋㅋ');
              console.log(chch);
              if (confirm("찜 목록에서 제거하시겠습니까?")) {
                var html = "";
                uri = '/ggimDelete'
                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="ch_url" value="'+chch+'" />';
                html += '</form>';
                
                $("body").append(html);
                document.dataForm.submit();
              }
            });
          </script>
          &nbsp;&nbsp;&nbsp;<a href="/listPage"> 초기화 (개발자 모드)</a>
			  </td>
        <!---- 필터 ---->


        <!---- 내용 ---->
        <td style="width:755px" align=center valign=top>
          <br>
          <table class="table table-bordered">
            
            <tr th:if="${list.empty}">
              <img src="https://i.ibb.co/jTHtpG9/empty.png" alt="">
            </tr>
            <tr th:unless="${list.empty}">
              <th> 업로드 날짜 </th>
              <th> 좋아요 수 </th>
              <th> 광고 영상 </th>
            </tr>
            <tr th:each="ad,i : ${list}">
                <td><span th:text="${ad.upday}"> 채널 이름 </span></td>
                <td><span th:text="${ad.likecnt}"> 좋아요 수 </span></td>
                <td>
                  <iframe th:id="${i.index}" width="480" height="270" src="" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                  <script>
                    id = '#';
                    id = id + i;
                    url = header + ad[i].ad_url;
                    $(id).attr('src',url);
                    i = i+1;
                  </script>
                </td>
            </tr>
          </table>
        </td>
        <!---- 내용 ---->


      </tr>
    </tbody>
  </table>
  <!---- main ----->

  <!--footer-->
  <table cellpadding="1" width = "100%" height = "50" bgcolor="white" align="center">
    <tr>
      <td align="center">
        @copyright: 갈라티코스
      </td>
    </tr>
  </table>
  <!--footer-->

</body>
</html>