<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{samples/layout/sampleLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script th:inline = "javascript">
  /*
    <![CDATA[*/
      let header = 'https://www.youtube.com/embed/';
      let ad = /*[[${list}]]*/ 'default';
      let url;
      let id;
      let i = 0;
    /*]]>
  */
</script>
<body>
    <h1>상세 페이지</h1>
    <div class="box-body">
        
        연락처 : <td th:text="${contact}"></td>

        <h3> 광고 목록 </h3>
        <table class="table table-bordered">
          <tr>
              <th> 채널 이름 </th>
              <th> 좋아요 수 </th>
              <th> 광고 영상 </th>
          </tr>
          <tr th:if="${list.empty}">
            <td colspan="2"> 이 채널은 광고를 하지 않았어요 ㅎㅎ </td>
          </tr>
          <tr th:each="ad,i : ${list}">
              <td><span th:text="${ad.name}"> 채널 이름 </span></td>
              <td><span th:text="${ad.likecnt}"> 좋아요 수 </span></td>
              <td>
                <iframe th:id="${i.index}" width="560" height="315" src="" 
                  title="YouTube video player" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <script>
                  id = '#';
                  id = id + i;
                  url = header + ad[i].ad_url;
                  $(id).attr('src',url);
                  i = i+1;
                </script>
              </td>
          </tr>
        
         
        </table>
      </div>
</body>
</html>