<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        data-layout-decorate="~{samples/layout/sampleLayout}"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    
    function myFunction(input) {
        $('#mailtail').val(input);
    }

   function numberMaxLength(e){
       if(e.value.length > e.maxLength){
           e.value = e.value.slice(0, e.maxLength);
       }
   }

   function chkPW(){

        var reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

        var pw = $("#pw").val();

        if(reg.test(pw) == false) {
            alert('비밀번호는 8자 이상이어야 하며, 숫자/대문자/소문자/특수문자를 모두 포함해야 합니다.');
        }
        else {
            console.log("통과");
        }

        var pwd1 = $('#pw').val();
        var pwd2 = $('#pw1').val();
  
        if ( pwd1 != '' && pwd2 == '' ) {
            null;
        } 
        else if (pwd1 != "" || pwd2 != "") {
            if (pwd1 == pwd2) {
                $("#alert-success").css('display', 'inline-block');
                $("#alert-danger").css('display', 'none');
            } 
            else {
                alert("비밀번호가 일치하지 않습니다. 비밀번호를 재확인해주세요.");
                $("#alert-success").css('display', 'none');
                $("#alert-danger").css('display', 'inline-block');
            }
        }

    }


   
   function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<style>
    /* 위에 bar style 시작 */
    *{
        padding: 0px;
        margin: 0px;
        overflow: auto;
    }

        
    table, FORM {
        border-spacing:20px;
        border-top : 5px solid rgb(163, 163, 163);
        border-right : 5px solid #444444; 
        border-left : 5px solid #444444; 
        border-bottom : 5px solid rgb(163, 163, 163);
    }

    .home {
		float: right;
		line-height: 20px;          
		vertical-align: middle;
		text-align:center;
	}

    ul{
            text-align: center;
            background-color: #313132;
    }
    li{
        margin: 7px;
        display: inline-block;
        color:  white;
        vertical-align: middle;
    }

    /* footer style */
		footer {
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0;
		text-align: center;
		color: white;
		background: #f5f5f7;  
		bottom: 0;


		background:url('https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg');
		background-size:cover;
		font-family: 'Cabin Condensed', sans-serif;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;

		}


		
		svg{
			font-weight:bold;max-width:600px;height:auto;
		}

		.table_2{
			border-spacing: 10px;	  
			width: 100%;
			color: black;
			border-top : 2px solid white;
			border-right : none;
			border-left : none;
			border-bottom : none;
		}

	    /* footer style */
</style>
<body>
    <!-- header -->
    <ul>
        <li><img src="https://i.ibb.co/VBw2P70/logo.png" width="30" height="40"></li>
        <li class="home">
            <a href="index.html">
                <img src="https://i.ibb.co/jyxvDW1/home.png" onmouseover="this.src='https://i.ibb.co/tLkFjpw/home2.png'" onmouseout="this.src='https://i.ibb.co/jyxvDW1/home.png'" width="42" height="40">
            </a>
        </li>
    </ul>
    <!-- header -->
    <center>
        <img src="https://i.ibb.co/phgt8s6/sign-up.gif">
        <table boder = "1" cellspacing = "1">
        <FORM>
            <tr>
                <td> 아이디 </td>
                <td>
                <input type = "text" id = "id" name = "id" placeholder="아이디">
                <button class="idCheck" type="button" id="idCheck" value="N"> 중복확인 </button>
                </td>
                <td></td>
            </tr>
        
        
            <tr>
                <td> 비밀번호 </td>
                <td> <input type = "password" class="pw" placeholder="비밀번호" name="pw" id="pw" onchange="chkPW()"/> </td>
                <td></td>
            </tr>
            
        
            <tr>
                <td> 비밀번호 확인 </td>
                <td> <input type = "password" class="pw" placeholder="비밀번호 확인" name="pw1" id="pw1" onchange="chkPW()"/>&nbsp; <span id="check"> </span></td>
                <td align="left">
                    <span id="alert-success" style="display: none;">비밀번호가 일치합니다.</span>
                    <span id="alert-danger" style="display: none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span>
                </td>
            </tr>

        
            <tr>
                <td> 대표자명 </td>
                <td> <input type = "text" id="ceo" name = "ceo" placeholder="대표자명"/> </td>
                <td></td>
            </tr>
       
       
            <tr>
                <td>본인 확인 이메일</td>
                <td name="email">
                <input type = "text" id = "mailhead"/> @ <input type = "text" id="mailtail" value=""/> &nbsp;
                <select id="selectmailTail" onchange="myFunction(this.value)"> 
                    <option value="" selected="selected"> 직접입력 </option>
                    <option value="daum.net">daum.net</option> 
                    <option value="gmail.com">gmail.com</option>
                    <option value="hotmail.com">hotmail.com</option>
                    <option value="korea.com">korea.com</option>
                    <option value="nate.com">nate.com</option> 
                    <option value="naver.com">naver.com</option> 
                </select>
                </td>
                <td></td>
            </tr>

       
            <tr>
                <td> 전화번호 </td>
                <td>
                    <input type = "radio" name = "phone"/> SKT
                    <input type = "radio" name = "phone"/> KT
                    <input type = "radio" name = "phone"/> LGU+
                    <br>
                    <select id="telecom">
                        <option> 010 </option>
                        <option> 011 </option>
                        <option> 016 </option>
                        <option> 017 </option>
                        <option> 018 </option>
                        <option> 019 </option>
                    </select>
                        <input type = "text" id = "mid" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" size="4" maxlength="4" oninput="numberMaxLength(this);"/> - 
                        <input type = "text" id = "tail" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" size="4" maxlength="4" oninput="numberMaxLength(this);"/>
                </td>
                <td></td>
            </tr>
            

            <tr>
                <td>사업자 등록번호 </td>
                <td>
                    <input type = "text" id = "regnum" name = "regnum" placeholder="사업자 등록번호"/>
                    <button class="regnumCheck" type="button" id="regnumCheck" value="N"> 중복확인 </button>
                </td>
                <td></td>
            </tr>

        
            <tr>
                <td> 사업장 주소 </td>
                <td>
                    <input type="text" id="sample6_postcode" placeholder="우편번호">
                    <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기"><br>
                </td>
                <td></td>
            </tr>


            <tr>
                <td> 상세주소 </td>
                <td>
                    <input type="text" id="sample6_address" placeholder="주소" style="width:270px">
                    <input type="text" id="sample6_extraAddress" placeholder="참고항목" style="width:270px"><br>
                    <input type="text" id="sample6_detailAddress" placeholder="상세주소" style="width:270px">
                </td>
                <td></td>
            </tr>
            
            
        </FORM>
        </table>
        <br>
        <br>

        <button type="button" class="btn btn-light" id="submit">
            <img src="https://i.ibb.co/0nYqmQL/signup-button.png" class="button2" alt="sign_in_button" 
            onmouseover="this.src='https://i.ibb.co/Kw3p0s3/signup-button.png'" 
            onmouseout="this.src='https://i.ibb.co/0nYqmQL/signup-button.png'" value = "가입하기"/>
        </button>
        &nbsp;
        <a href="/login_page">
            <img src="https://i.ibb.co/Vt8XmKZ/back-button.png" class="button2" alt="back_button" 
            onmouseover="this.src='https://i.ibb.co/X2DbfZV/back-button.png'" 
            onmouseout="this.src='https://i.ibb.co/Vt8XmKZ/back-button.png'" value = "뒤로가기"/>
        </a>
       <script>
           $('#idCheck').click(function(){
                $.ajax({
                    url : '/idCheck',
                    type : 'POST',
                    dataType : 'JSON',
                    data : {'id': $('#id').val()},
                    success : function (data){
                        if(data == 1){
                            alert('중복된 아이디입니다');
                        }
                        else if (data == 0){
                            $('#idCheck').attr('value','Y');
                            alert('사용가능한 아이디 입니다!');
                        }
                    }
                })
            });
           $('#regnumCheck').click(function(){
                $.ajax({
                    url : '/regnumCheck',
                    type : 'POST',
                    dataType : 'JSON',
                    data : {'regnum': $('#regnum').val()},
                    success : function (data){
                        if(data == 1){
                            alert('중복된 사업자등록번호 입니다');
                        }
                        else if (data == 0){
                            $('#regnumCheck').attr('value','Y');
                            alert('사용가능한 사업자등록번호 입니다!');
                        }
                    }
                })
            });
           $('#submit').click(function(){
              if (confirm("가입 하시겠습니까?")) {
                var id = $('#id').val();
                var pw = $('#pw').val();
                var ceo = $('#ceo').val();
                var email = $('#mailhead').val() + '@' +$('#selectmailTail option:selected').val();
                var phone = $("#telecom option:selected").val() + '-' + $('#mid').val() + '-'+ $('#tail').val();
                var regnum = $('#regnum').val();
                var address = $('#sample6_address').val() + $('#sample6_extraAddress').val() + $('#sample6_detailAddress').val();
                var html = "";
                uri = '/sign'
                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="id" value="'+id+'" />';
                html += '<input type="hidden" name="pw" value="'+pw+'" />';
                html += '<input type="hidden" name="ceo" value="'+ceo+'" />';
                html += '<input type="hidden" name="email" value="'+email+'" />';
                html += '<input type="hidden" name="phone" value="'+phone+'" />';
                html += '<input type="hidden" name="regnum" value="'+regnum+'" />';
                html += '<input type="hidden" name="address" value="'+address+'" />';
                html += '</form>';
                
                $("body").append(html);
                document.dataForm.submit(); 
              }
            });

       </script>
       
       
    </center>
    <br>
    <br>
    
    <!--footer-->
    <div th:replace = "footer.html"></div>
    <!--footer-->
</body>
</html>